body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1c1c1d;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

#content {
    padding: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    padding: 10px;
}