body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(167, 165, 165)
}

.nav-header {
    background-color: #1c1c1d;
    color: white;
    padding-top:2rem;
    padding-bottom:2rem;
    text-align: center;
    font-size: 1.5rem;
}

header a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}
    


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    margin-top: 5rem;
    
}

.containerBook{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;
    margin-bottom: 10rem;
}

details {
    display: flex;
    justify-self: center;
    width:60vw;
    padding: 1rem;
    margin: 1rem;
    border-style: solid;
    border-color: #043510;
    border-width: 2px;
    border-radius: 1rem;
    background: #373837;
    box-shadow: 1rem;
    color: white;
}

summary {
    cursor: pointer;
}

summary h1 {
    display: inline;
    text-align: left;
    margin-left: 1rem;
    font-size: 1.5rem;
}

details p {
    margin-left: 2rem;
    opacity: 0.7;
}


.warningtext {
    color: red;
    font-weight: bold;
}

.img{
    width: 100vw;
    height: 40vh;
    object-fit: cover;
}
.img2{
    width: 100vw;
    height: 15vh;
    object-fit: cover;
}
.welcometext2{
    position: absolute;
    text-align: center;
    top: 25%;
    left: 5%;
    right:5%;
    bottom:5%;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px #000000;
    padding: 1rem;

}
.welcometext{
    position: absolute;
    text-align: center;
    top: 5%;
    left: 10%;
    right:10%;
    bottom:5%;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px #000000;
    

}
.serviceText{
    position: absolute;
    text-align: center;
    top: 10%;
    left: 5%;
    right:5%;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px #000000;
    
} 


.homeContainer{
    position: relative;
    text-align: center;
}

.btnHome{
    font-size: 1.5rem;
    background-color: #076920;
    color: white;
    border: #000000 1px solid;
    border-radius: 0.5rem;
    box-shadow: #000000 2px 2px 4px;
    width: 20rem;
    height: 3rem;
    margin: 1rem;
    
}
.btnHome:hover{
    background-color: #043510;
    cursor: pointer;


}

.btnCard{
    display: flex;
    justify-content: center;
   

   
}
.footer{
    background-color: #1c1c1d;
    color: white;
    text-align: center;
    padding-bottom: 1rem;
    padding-top:1rem;
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin-top: 10rem;
}

.title{
    text-align: center;
    color:white;
    margin-top: 2rem;
    font-size: 2rem;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.form label{
    margin-top: 1rem;
    font-size: 1rem;
    color:white;
}

.form input{
    margin-top: 1rem;
    font-size: 1.2rem;
    color:white;
    background-color: #076920;
    width: 25rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 0.5rem;
    
}

.form ::placeholder{
    color: white;
    opacity: 0.7;
}

.form button{
    margin-top: 2rem;
    font-size: 1.5rem;
    background-color: #076920;
    color: white;
    border: #000000 1px solid;
    border-radius: 0.5rem;
    box-shadow: #000000 2px 2px 4px;
    width: 15rem;
    height: 3rem;
    
}

.form button:hover{
    background-color: #043510;
    cursor: pointer;
}

.form select{
    margin-top: 1rem;
    font-size: 1.2rem;
    color:white;
    background-color: #076920;
    width: 25rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 0.5rem;
    
}


.btnCard2{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
   
}

.btnBook{
    font-size: 1.5rem;
    background-color: #076920;
    color: white;
    border: #000000 1px solid;
    border-radius: 0.5rem;
    box-shadow: #000000 2px 2px 4px;
    width: 20rem;
    height: 3rem;
    margin: 1rem;
    
}
.btnBook:hover{
    background-color: #043510;
    cursor: pointer;
}


.ul{
    display: flex;
    flex-direction: column;
    align-self: center;
    list-style-type: none;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    width : 50rem;
    border: #043510 2px solid;
    border-radius: 1rem;
    background-color: #373837;
}
.ul li{
    margin: 0.5rem 0;
}

.routerlink{
    text-decoration: underline;
    color:#097424;
}

.routerlink:hover{
    text-decoration: none;
    cursor: pointer;
    color:#043510
}

.card {
    background-color:#373837;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 50rem;
    border: #043510 2px solid;
    border-radius: 1rem;

}
.card p b{
    color :#097424;
}
