body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(167, 165, 165)
}

.nav-header {
    background-color: #1c1c1d;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    position: relative;
    text-align: center;
    padding: 10px;
}

details {
    display: flex;
    justify-self: center;
    width:60vw;
    padding: 1rem;
    margin: 1rem;
    border-style: solid;
    border-color: rgba(0, 15, 63, 0.932);
    border-width: 2px;
    border-radius: 1rem;
    background:rgba(12, 68, 94, 0.411);
    box-shadow: 1rem;
}

summary {
    cursor: pointer;
}

summary h1 {
    display: inline;
    margin-left: 1rem;
    font-size: 2rem;
}

details p {
    margin-left: 2rem;
    opacity: 0.7;
}

.ct{
    display: flex;
    justify-self: center;
    font-size: 2.5rem;
}

.warningtext {
    color: red;
    font-weight: bold;
}

.img{
    width: 100vw;
    height: 40vh;
    object-fit: cover;
}
.welcometext2{
    position: absolute;
    text-align: center;
    top: 25%;
    left: 5%;
    right:5%;
    bottom:5%;
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px #000000;
    padding: 1rem;

}
.welcometext{
    position: absolute;
    text-align: center;
    top: 5%;
    left: 10%;
    right:10%;
    bottom:5%;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px #000000;
    padding: 1rem;

}
.homeContainer{
    position: relative;
    text-align: center;
}

.btnHome{
    font-size: 1.5rem;
    background-color: #076920;
    color: white;
    border-radius: 0.5rem;
    box-shadow: #000000 2px 2px 4px;
    width: 20rem;
    height: 3rem;
    margin: 1rem;
    
}
.btnHome:hover{
    background-color: #043510;
    cursor: pointer;


}

.btnCard{
    display: flex;
    justify-content: center;
   

   
}
