body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #1c1c1d;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

#content {
    padding: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    padding: 10px;
}

details {
    display: flex;
    justify-self: center;
    width:60vw;
    padding: 1rem;
    margin: 1rem;
    border-style: solid;
    border-color: rgba(0, 15, 63, 0.932);
    border-width: 2px;
    border-radius: 1rem;
    background:rgba(12, 68, 94, 0.411);
    box-shadow: 1rem;
}

summary {
    cursor: pointer;
}

summary h1 {
    display: inline;
    margin-left: 1rem;
    font-size: 2rem;
}

details p {
    margin-left: 2rem;
    opacity: 0.7;
}

.ct{
    display: flex;
    justify-self: center;
    font-size: 2.5rem;
}